html {
	font-family: 'Thasadith', sans-serif;
	color: white;
	overflow: hidden;
}

a {
	color: white;
	margin: 10px;
	text-decoration: none;
}
a:hover {

	opacity: .5;

	cursor: pointer;
}

p, h1{
	/* margin-left: 20px; */

}
p {
	font-size: 30px;
	/* padding: 30px; */
}

h1 {
	font-size: 60px;
	text-decoration: bold;
}

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#f4-bg {
	background: linear-gradient(#e66465, #9198e5);
}
#f2-bg {
	background: linear-gradient(#9198e5, #c5fafa);
}
#f3-bg {
	background: linear-gradient(#c5fafa, #034f9e);

}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.content {
	display: flex;
	flex-direction: column;
	padding: 40px;
}

#socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 150px;
	/* padding: 20px; */
	position: relative;
}
.ps {
	width: 370px;
	height: 250px;
}
#project-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	padding: 20px;
	height: 550px;
}
.internal-project {
	width: 850px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.fails {
	padding: 30px;
}

.overlay {
	background: rgba(0, 0,0, .5);
	text-align:center;
	opacity: 0;
	position: relative;
	top: -255px;
	height: 167px;
	padding: 40px;
	width: 287px;
	border-style: solid;
   border-width: 3px;
	 border-color: white;
	-webkit-transition: opacity .25s ease;
}
.box:hover .overlay {
	opacity: 1;
}


.icon {
	filter: invert(100%);
	width: 20px;
	height: 20px;

}
.icon:hover {
	cursor: pointer;
}
.f1-background {
	background: url('simple.png') no-repeat center center fixed;
	height: 100vh;
	width: 100vw;
	position: absolute;
}
.nav {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 2;
}

#example1 {
	font-size: 40px;
	padding: 40px;
}

#shadow {
	position: absolute;
	left: 210px;
	top: 250px;
	z-index:2;
}

#ball {
	height: 150px;
	width: auto;
	position: absolute;
	left: 310px;
	top: 300px;
	animation: upDown 1s ease-out 0s infinite reverse;
	z-index: 3;
}

#down {
	height: 20px;
	width: auto;
	filter: invert(100%);
	position: absolute;
	bottom: 10vh;
	left: 50vw;
	animation: jiggle 1s ease-out 0s 10 alternate;

}

#right {
	height: 20px;
	width: 20px;
	filter: invert(100%);
	position: absolute;
	bottom: 50vh;
	right: 5vw;
	animation: jiggle 1s ease-out 0s 10 alternate;

}

#mephoto {
	width: 500px;

}
.flex-box-myself {
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#f1-bg {
	background-image: url("simple.png");
	background-size:cover;
	width: 100vw;
	background-repeat: no-repeat;
}

.food1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}
.food2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;

}

.foodsize {

width: 200px;

}
.tenniswords {
	padding: 40px;
}
@keyframes jiggle {
	0% {

		bottom: 3vh;
	}
	100% {
		bottom: 6vh;
	}


}
@keyframes upDown {
	0% {
		top: 0px;

	}
	25% {
		top: 120px
	}
	50% {
		top: 200px;

	}
	75% {
		top: 120px;
	}
	100% {
		top: 0px;
	}
}
